    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .card {
        height: 390px;
        width: 300px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 70px 63px -60px #000;
        position: relative;
        transition: 0.8s;
        margin: 10px;
    }
    
    .card img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s ease-in-out;
        filter: grayscale(1);
    }
    
    .card:hover img {
        filter: grayscale(0);
    }
    
    .card:hover {
        transform: translateY(-10%);
        box-shadow: 0 50px 50px 0px #000;
    }
    
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        font-family: sans-serif;
        text-align: center;
        padding: 20px 0;
        transition: 0.8s;
        backdrop-filter: blur(0px);
        transform: translateY(50%);
    }
    
    .card:hover .content {
        transform: translateY(0);
        backdrop-filter: blur(10px);
    }
    
    .content h2 {
        margin: 0;
    }
    
    .content .des {
        font-size: small;
        font-weight: 100;
        padding: 10px 0;
    }
    
    .content .social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .content .social .item {
        border-right: 1px solid #fff5;
    }
    
    .content .social .item:nth-last-child(1) {
        border-right: 1px solid #fff5;
    }
    
    .content .social .tittle {
        font-size: large;
        margin: 10px 0;
    }
    
    .content .social .count {
        opacity: 0.8;
    }